* {
    margin: 0px;
    
}
body{
    
    background-color: #000;
    background-size:contain;
}

.navbar {
  font-family: 'Roboto',sans-serif;
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: wheat;
    transform: scale(1.1);
    transition: transform ease-in-out;
}
.main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  
  .wrapper {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 30vw 30vw 30vw;
      
      color: #fff;
      height: 90vh;
    }
  
    .box {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      display: flex;
      flex-direction: column;
  
    }
    .box2{

      background-color: rgb(255, 255, 255);
      color: black;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      display: flex;
      flex-direction: column;

    }
    .title{
      border-bottom: 2px solid #330867;
      text-align: center;
      font-size: 30px;
    }
    .eltitle{
      font-size: 26px;
      color: #30CFD0;
      
    }
    .eltitle2{
      font-size: 26px;
      color: #330867;
      
    }
    .eltitlea{
      color: #30CFD0;
    }
    .eltitlea2{
      color: #330867;
    }
    .eltitle a:hover{
      color: wheat;
    }
    
    .element{
      margin-top: 15px;
      border-bottom: 2px solid #30CFD0;
      padding :5px;
      
    }
    #mode{
      width: 20px;
    }
    #modebut{
      background-color: white;
      border-radius: 40%;
      border: none;
      
    }
    #modebut:active{
      background-color: #cbcacc;
      transform: scale(0.90);
      transition: transform ease-in-out;
    }
  
    .a {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .b {
      grid-column: 3 ;
      grid-row: 1 / 3;
    }
    .c {
      grid-column: 1 ;
      grid-row: 2 ;
    }
    .d {
      grid-column: 2;
      grid-row: 2;
    }

    @media(max-width:570px) {

     .wrapper{
       display: flex;
       flex-direction: column;
       padding: 10px;
     }
     .box{
       margin: 20px;
     }
    }